---
layout: default
title: "Home"
---
 <header><h1>{{"Hi There!"}}</h1></header>

I'm a doctoral candidate in the Film and Media Studies Department at the University of California, Irvine.

I play games and write about them.

{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  {% capture source %}{% include_relative archive.html title="Posts" %}{% endcapture %}
  {{ source | split: "---" | last }}
{% endif %}
